:root{
--content-width:1150px;
--color-p1: #bcbcbe;
--color-p2:#788f9b;
--color-a: #0088cc;
--weight-a: 700;
--font-p:font-family: 'Mulish', sans-serif;
}

*,*::before,*::after{
    box-sizing: inherit;
}
html,body{
box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    /* text-transform: capitalize; */
    font-family: Mulish,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.main1{background-color:rgb(35, 35, 40) ;
color: rgb(247, 249, 251);
width: 100%;
color:  #fff;
}
nav{
width: 100%;
position: fixed;
background-color: rgb(35, 35, 40, 0.9);
z-index: 10;
}
.headline{
    display: flex;
    justify-content: space-between; 
    max-width: 1150px;
    margin: auto;
    width: 100%;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 0px 20px 0;
    color: white;
}
.main1 nav .git{
    position: relative;
}
.main1 nav .git img{
    padding-right: 5px;
    color: white;
    position: absolute;

}
.content{
    display: flex;
    max-width: var(--content-width);
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
   
}
.main1 .content .text{
    width: 70%;
   
}
.main1 .content .dimond{
    width: 30%;
}
.main1 .content .dimond video{
    width: 100%;
}
.main1 .logo{
    color: white;
}
.main1 .links{
    display: flex;
}
a{
    text-decoration: none;
    color: white;
}
.main1 .links a{
  padding: 8px 16px;
  font-weight: var(--weight-a);
}
.main1 .content .botton{
    color: white;
    margin: 0px;
}
.main1 .content .text h1{
    font-size: 72px;
   margin-bottom: 15px;
   line-height: 90px; 
}
.main1 .content .text .title{
    color: rgba(6, 161, 239, 1);

}
.main1 .content .text p{
    font-size: 20px;
   padding-bottom: 40px;
    margin: 0%;
    font-weight: 0;
    line-height: 30px;
    color: var(--color-p1);
}
.main1 .content .text .botton{
display: flex;
align-items: center;
}
.main1 .content .text .botton .join{
    background-color:#08c;
    border-radius: 40px;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 20px;
}
.main1 .content .text .botton .github{
    background-color:hsla(0,0%,100%,0.06);
    border-radius: 40px;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 700;
}
.main1 .content .text .botton .github svg{
    color: white;
    padding-right: 5px;
}
h2{ 
 font-size: 55px; 
 line-height: 65px;
}
.sub{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: rgb(114, 138, 150); 
}


.info{
    flex-direction:column ;
}
.info  .text{
     text-align: center;
}

.info .text .title{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 16px;
margin: 0%;
}
.info .text .sub{
margin: auto;
max-width: 600px;
padding-bottom: 65px;
font-size: 20px;
padding-left: 20px;
padding-right: 20px;
font-weight: 400;
line-height: 30px;
color:var(--color-p2);
}
.info .counter{
display: flex;
justify-content: space-between;
 ;
}
.info .counter .stat{
    width: 31%;
    background-color:rgb(247, 249, 251);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.info .counter .stat .stat-title{
    font-size: 20px;
    line-height:30px;
    padding-bottom: 16px;
}
.info .counter .stat .munber{
font-size: 40px;
font-weight: 700;
}
.info .counter .stat svg{
    color:rgba(236,240,243,0.6);
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(30%, -50%);
 
}


.toncoin {
 display: flex;   
 background-color:  #f7f9fb;
 border-radius: 70px;
 justify-content: space-between;
 align-items: center;
 /*max-width: calc(var(--content-width) + 64px );*/
 box-sizing: content-box;
 padding: 40px 110px;
}
.toncoin.content{
    
}
#ton{display: inline-block;
    border: 1px solid;
    border-radius: 7px;
    padding: 2px 11px;
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #728a96;
}
.toncoin .textcoin{
    max-width: var(--content-width);

}
.toncoin .textcoin h2{
    margin:20px 0px;
}
.toncoin .textcoin a{
    font-weight: var(--weight-a);
    color:var(--color-a) ;
    padding-right: 30px;
}
.toncoin .pic{
    width: 50%;
}


.timeline{
    display: block;
}
.timeline .stages{
    display: flex;
    flex-direction: row; 
    width: 100%;
    justify-content: space-between;
}
.timeline .stages .steps{    
width: 30%;

}
.timeline .stages .steps h3{
font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}
.timeline .stages .steps p{   
     font-size: 20px;
     font-size: 20px;
     font-weight: 400;
     line-height: 30px;
     color:var(--color-p2);
}
.timeline .stages .steps a{
    color: var(--color-a);
    font-weight: var(--weight-a);
}


.wallet{
    background-color:  #f7f9fb;
    border-radius: 70px;
    box-sizing: content-box;
    padding: 40px 110px;
}
.wallet .info-wallet{
    display: flex;   
    justify-content: space-between;
    align-items: center;      
}
.wallet .info-wallet .text-wallet{
    width: 60%;
}
.wallet .info-wallet .pic-wallet{
    width: 40%;
    padding-left:40px;
}
.wallet .info-wallet .text-wallet h2{
    margin: 0px;

}
.wallet .info-wallet p{
    font-size: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color:var(--color-p2);
    margin-top: 20px;
    margin-bottom: 60px;
}
.wallet .info-wallet .text-wallet a{
    color: white;
    font-weight: var(--weight-a);
    background-color:#08c;
    border-radius: 40px;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}


.analys{
flex-direction: column; 
align-items: center;
text-align: center;
display: flex;
max-width: var(--content-width);
margin: auto;
padding-top: 4rem;
padding-bottom: 4rem;
justify-items: space-between;
}
.analys .title-analys h2{
    margin: 0px;
padding-bottom: 16px;
}
.analys .title-analys{
font-size: 20px;
line-height: 30px;
font-weight: 400;
padding:0 16px 32px 16px ;

}
.analys p{
    margin: 0px;
    color: #728a96;
    /* font-size: 20px; */
line-height: 30px;
/* font-weight: 400; */
padding:0 16px 32px 16px ;
}
.analys #learn{
    background-color:#08c;
    border-radius: 40px;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 700;
    margin-right: 20px;
}
.analys .link-analys svg{
    padding-right: 5px;
    width: 28px;
    height: 28px;
}
.analys .time-table{
    display: flex;
    border: 1px solid;
    border-radius: 40px;  
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.analys .time-table .inner-content{
    max-width:  100%; 
    margin: auto;
    border-collapse: collapse;
}    
.analys  .inner-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.analys .time-table .first{
    width: 25%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
}
.analys .time-table .second{
    width: 25%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

}
.analys .time-table .third{
    width: 25%;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

}
.analys .time-table .forth{
    width: 25%;font-size: 16px;
    line-height: 24px;
    text-align: center;

}
#subtitle {
    display: flex;
    
    width: 70%;
    text-align: center;
color: #728a96;
}
#subtitle a{
    color: #728a96;  
}


.developers{
    width: 100%;
    background-color: #242429; 
    padding: 64px 0;
   
}
.developers .text-developers{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 64px 0;
    color: #fff;
}
.developers .text-developers h2{
    margin: 0 0 16px 0;
}
.developers .text-developers p{
    color: rgba(255,255,255,0.7);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 40px;
}
.developers .text-developers .botton {
    display: flex;
    align-items: center;

}
.developers .text-developers .botton a{
    display: flex;
    align-items: center;
    text-align: center;
}
.developers .text-developers .botton #git{    
    background-color:hsla(0,0%,100%,0.06);
    border-radius: 40px;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 700;

}
.developers .text-developers .botton #doc{    
    background-color:#08c;
    border-radius: 40px;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 700; 
}
.developers .table-developers{
    width: 90%;
    background-color: #323236;    
    max-width: var(--content-width);
    margin: auto;
    border-radius: 45px;
    overflow: hidden;
    font-family: "IBM Plex Mono", monospace;
}
.developers .table-developers #bar{
background-color: black;
padding: 32px 0;
max-width: var(--content-width);
}
.developers .table-developers .blockchain-content{
    color: #fff;
    display: flex;   
}
.developers .table-developers #bar .middle-dot{
    background-color: yellow;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 64px;
    display: inline-block;
}
.developers .table-developers .left-column{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0px;
}
.developers .table-developers .left-column a{
    padding: 16px 32px;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
}   
.developers .table-developers .left-column #actor{
    background-color: #39393c;
} 
.developers .table-developers .right-column{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 28px 50px;
    font-family: "IBM Plex Mono", monospace;
}
.developers .table-developers .right-column a{
    color: #07a0ec;
    margin-top: 64px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    font-family: var(--font-p)
}
.developers .table-developers .right-column .link{
    /* margin: 50px 0px; */
    display: flex;
    justify-content: space-between;   
   
}
.developers .table-developers .right-column .link .privious{
    color:#969698 ;
}
.developers .table-developers .right-column .link .next{
    color: #fff;
}
.developers .table-developers .right-column h3{
    margin: 0%;
    font-size: 28px;
    line-height: 38px;
    font-weight: 700;
    font-family: "IBM Plex Mono", monospace;
}
.developers .table-developers .right-column p{
    margin: 32px 0;
    font-size: 20px;
    line-height: 30px;
    font-family: "IBM Plex Mono", monospace;
}


.community{
    display: flex;
    max-width: var(--content-width);
    margin: auto;
    padding: 128px 0;
}
.community .text-community{
    width: 50%;
}
.community .text-community h2{
margin-bottom: 0px;
}
.community .text-community p{
    color: var(--color-p2);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.community .text-community .social{
    font-size: 18px;
    font-weight: 700;
    color: var(--color-a); 
    margin-top: 32px;

}
.community .text-community .social a{
    color: var(--color-a);
    padding-right: 16px;
}
.community .pic-community{
    width: 50%;
}
.community .pic-community img{
    width: 100%;
}


.apps{
    background-color:  #f7f9fb;
    border-radius: 70px;
    padding: 40px 110px;
    
}
.apps .back{

}
.apps .back .text-apps{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: auto;
}
.apps .back .text-apps h2{
    margin: 0;
}
.apps .back .text-apps p{
    color: var(--color-p2);
    font-size: 20px;
    line-height: 30px;
}
.apps .back .botton{
    background-color:#08c;
    border-radius: 40px;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 700;
    /* box-sizing: content-box; */
    width: fit-content;
    text-align: center;

}